{% extends 'base.html.twig' %}

{% block title %}Édition d'article{% endblock %}

{% block body %}
    <section class="container mx-auto p-4">
        <h1 class="text-3xl">Édition de l'article <span class="font-semibold">{{ article.title }}</span></h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>

{% endblock %}
